framework2
lib/proj.ios/quickcocos2dx.xcodeproj/xcuserdata
lib/proj.mac/quickcocos2dx.xcodeproj/xcuserdata
player/mac/player.app
player/proj.mac/player.xcodeproj/project.xcworkspace
player/proj.mac/player.xcodeproj/xcuserdata
lib/cocos2d-x/cocos2dx/platform/android/java/bin
lib/cocos2d-x/cocos2dx/platform/android/java/gen
lib/proj.ios/quickcocos2dx.xcodeproj/project.xcworkspace
